<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1" />
      <link href = "css/styles.css" rel = "stylesheet"/>
      <title>Student Management System</title>
   </head>
   <body>
   <h1>Student Management System (SMS)</h1>
   <p>Functionalities present:</p>
   <ol>
  <li>Student data management</li>
  <li>Paarent data management</li>
  <li>Course management</li>
</ol>

<h2>Other page links:</h2>
<a href="add.html">Add users</a>
<a href="list.html">Display users</a>
<a href="update.html">Update user details</a>
   </body>
</html>