<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      th:replace="layout :: layout (~{::title}, ~{::content})">
<head>
    <title>Homes</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
<span th:text="#{app.name}" ></span>
<span th:text="#{message}" ></span>
    <div th:fragment="content">
        <h1>Welcome to the Home Page</h1>
        <p>This is the main content of the home page.</p>
        <p th:text="${name}"></p>
        <p th:text="${'Name is : '+name}"></p>
        
        <p th:if="${alert}">
        	<p th:text="${alert}"></p>
        </p>
        
        <form method="post"  th:object="${studentInput}" th:action="@{/sample}">
    		<p>Input anything </p> 
    		<input th:field="*{name}" value="" />
    		<input th:field="*{age}" value="" />
    		<button type="submit">Submit</button>
    	</form>
    	
        
    </div>
</body>
</html>
